@{
    ViewBag.Title = "Collecting Users";
}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>


<form action="/Home/AddUser" method ="post">
    <input type="text" name="username" placeholder="Inser your name..." />
    <input type="submit" value="Submit">
</form>
